# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/

# =========================
# Django
# =========================

*.log
staticfiles/
media/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# SQLite
# =========================

*.sqlite3

# =========================
# Node.js
# =========================

node_modules/
frontend/node_modules/

# =========================
# Vite
# =========================

frontend/dist/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db