asgiref==3.x.x
Django==5.x.x
django-cors-headers==4.x.x
djangorestframework==3.x.x
djangorestframework-simplejwt==5.x.x
dj-database-url==2.x.x
PyJWT==2.x.x
psycopg==3.x.x
psycopg-binary==3.x.x
python-decouple==3.x.x
sqlparse==0.x.x
tzdata==202x.x