asgiref==...
Django==...
django-cors-headers==...
djangorestframework==...
djangorestframework-simplejwt==...
psycopg[binary]==...
dj-database-url==...
PyJWT==...
python-decouple==...
sqlparse==...
tzdata==...